* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    max-height: 100vh;
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 150vh;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    overflow-x: auto;
}

#sidebar .logo {
    text-align: center;
    margin-bottom: 20px;
}

#sidebar ul {
    list-style: none;
    padding-left: 20px;
}

#sidebar ul li {
    margin-bottom: 10px;
}

#sidebar ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.3s ease;
}

#sidebar ul li a:hover {
    background-color: #555;
}

#content {
    margin-left: 250px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* .box {
    width: calc(85% - 40px); 
    padding: 20px;
    margin: 20px;
    max-height: 55vh;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
    overflow-y: auto; 
}


.box h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
    margin-bottom: 10px;
}

#connection_history {
    list-style: none;
    padding: 0;
    width: 100%; 
    border-collapse: collapse;
}

#connection_history th, #connection_history td {
    padding: 10px;
    border: 1px solid #ccc;
}

#connection_history th {
    background-color: #f2f2f2;
}

#connection_history tr:nth-child(even) {
    background-color: #f2f2f2;
}

#connection_history tr:hover {
    background-color: #ddd;
}





.info{
    display: flex; 
    align-items: center; 
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.info-2{
    margin-top: 10px;
    margin-left: 60px;
}

.info h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.info form {
    margin-bottom: 20px;
}

.info .form-2{
    margin-top: 100px;
}

.info form label {
    display: block;
    margin-bottom: 10px;
}

.info form input[type="text"], input[type='password'] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info form input[type="submit"] {
    width: 60%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.info form input[type="submit"]:hover {
    background-color: #0056b3;
} */
